  body { 
    background-color: rgba(0, 0, 0, 0.800);
    font-family: "Audiowide", sans-serif;
  }
  footer {
    color:grey;
    background-color: rgba(0, 0, 0, 0.800);
    padding: 30px;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.400);
    margin-bottom: 50px;
  }
  .container-fluid-top {
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 10vw;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar-toggler-icon {
    background-color:rgba(100, 100, 100, 0.5);
  }

  .required::after {
    content:"*";
    color:red;
  }